{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ if and (not .Date.IsZero) (eq .Section "posts") }}
        <div class="content__meta">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"><i class="far fa-calendar-alt" aria-hidden="true"></i> {{ .Date.Format "02.01.2006" }}</time>
        </div>
        {{ end }}
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if .Params.author }}
        <p>
            By {{ .Params.author }}
        </p>
    {{ end }}
{{ end }}
